{% style %}
  .notify-me-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .notify-me-button {
    background-color: transparent;
    color: "#000000";
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
  }
{% endstyle %}



<div id="notify-me-block-{{ block.id }}" class="notify-me-block">
  <div id="notify-me-root"></div>
  <button style="background-color: {{ block.settings.button_color }};
    color: {{ block.settings.button_color }};" class="notify-me-button" id="notify-me-button-{{ block.id }}">
    {{ block.settings.button_text }}
  </button>
</div>


<script src="{{ 'notify-me.js' | asset_url }}" defer></script>

<script>
  window.backend_url = "{{ settings.backend_url }}";
  document.getElementById('notify-me-button-{{ block.id }}').addEventListener('click', function() {
    console.log('Notify Me button clicked');
    window.isBuying = !window.isBuying;
    console.log('isBuying:', window.isBuying);
  });
</script>

{% schema %}
{
  "name": "Notify Me Block",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Notify Me"
    },
    {
      "type": "text",
      "id": "backend_url",
      "label": "Backend URL",
      "default": "Notify Me"
    },
    {
      "type": "checkbox",
      "id": "show_modal",
      "label": "Enable Modal",
      "default": true
    }
  ]
}
{% endschema %} 
